<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta site-name="sponsorcraft_com">
</head>
<body bgcolor="#FFFFFF" text="#000000">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <table style="margin: 0;padding: 0 0 30px 0;background-color:
  #F4F5F7;" cellpadding="10" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0"
        cellspacing="0" width="600">
        <tbody>
          <tr>
            <td style="color: #9ab; font: normal 11px helvetica,
            sans-serif; text-align: center; padding: 10px 0 20px
            0;">To ensure delivery, add <strong><a class="moz-txt-link-abbreviated" href="mailto:no-reply@vimeo.com">no-reply@vimeo.com</a></strong>
            to your address book.</td>
          </tr>
          <tr>
            <td><img moz-do-not-send="true"
              src="http://assets.vimeo.com/images/email/bg_header_email.gif"
              alt=""></td>
            </tr>
            <tr>
              <td style="border:1px dotted
              #D6D7D8;border-top:none;border-bottom:3px solid
              #D6D7D8">
              <table style="color#456;background-color: #FFFFFF;"
              align="center" border="0" cellpadding="30"
              cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td style="background-color: #FFFFFF;">
                    <p style="text-align:center;margin:5px 0
                    25px 0;padding:0"><a
                    moz-do-not-send="true"
                    href="http://vimeo.com"
                    style="color:#28c;text-decoration:none"
                    target="_blank"><img
                    moz-do-not-send="true"
                    src="http://assets.vimeo.com/images/vimeo_logo.png"
                    alt="Vimeo" border="0" height="43"
                    width="150"></a></p>
                    <p style="color:#456;font-family:arial,
                    sans-serif;font-size:24px;line-height:1.2;margin:15px
                    0;padding:0"><strong>Hello Man!</strong></p>
                    <p style="color:#456;font-family:arial,
                    sans-serif;font-size:14px;line-height:1.5;margin:15px
                    0;padding:0"><strong>{{ subject }}</strong>
                    {{ body }} </p>
                    <p style="color:#456;font-family:arial,
                    sans-serif;font-size:14px;line-height:1.5;margin:15px
                    0;padding:0"><strong>Welcome to Vimeo!</strong>
                    You have just joined the best site in the
                    universe to upload and share the videos
                    you create. We're glad you're here! Before
                    you start uploading videos and exploring
                    Vimeo's amazingness, we just need to
                    confirm that you are a friendly human and
                    not an evil robot:</p>

                    <table align="center" border="0"
                    cellpadding="0" cellspacing="0"
                    width="360">
                    <tbody>
                      <tr>
                        <td>
                          <p style="width: 300px; background:
                          #2786C2; font-family: arial,
                          sans-serif;font-size: 18px;
                          line-height: 18px; text-align:
                          center;margin: 10px auto 20px
                          auto;padding: 14px 10px;
                          -moz-border-radius: 6px;
                          -webkit-border-radius: 6px;
                          border-radius: 6px;"><a
                          moz-do-not-send="true"
                          href="http://vimeo.com/user/verify?code=cc8aaa1b38b3c6a8bcd34baf1e469ba6&amp;id=11712648"
                          style="color: #fff;
                          text-decoration: none;"><strong>Complete
                          Your Registration</strong></a></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p style="color:#456;font-family:arial,
                  sans-serif;font-size:14px;line-height:1.5;margin:15px
                  0;padding:0">Once your registration is
                  complete, see how you can start using
                  Vimeo by reading the <a
                  moz-do-not-send="true"
                  href="http://vimeo.com/help/basics"
                  style="color: #28c; text-decoration:
                  none;">Vimeo Basics</a>, get familiar
                  with our friendly atmosphere by reading
                  the <a moz-do-not-send="true"
                  href="http://vimeo.com/guidelines"
                  style="color: #28c; text-decoration:
                  none;">Community Guidelines</a>, find
                  inspiration in our <a
                  moz-do-not-send="true"
                  href="http://vimeo.com/staffpicks"
                  style="color: #28c; text-decoration:
                  none;">Staff Picks</a>, and learn how to
                  <a moz-do-not-send="true"
                  href="http://vimeo.com/help/compression"
                  style="color: #28c; text-decoration:
                  none;">compress your video properly</a>
                  before you upload it.</p>
                  <p style="color:#456;font-family:arial,
                  sans-serif;font-size:14px;line-height:1.5;margin:15px
                  0;padding:0">In no time, you'll be a Vimeo
                  virtuoso! And when you're ready to unlock
                  the full power of Vimeo and enjoy
                  life-altering benefits like more upload
                  space, HD embedding, advanced statistics,
                  and mobile support for your videos, you
                  can upgrade to <a moz-do-not-send="true"
                  href="http://vimeo.com/plus"
                  style="color: #28c; text-decoration:
                  none;">Vimeo Plus</a>.</p>
                  <p style="color:#456;font-family:arial,
                  sans-serif;font-size:14px;line-height:1.5;margin:15px
                  0;padding:0">Thanks again for joining. See
                  you on the site!</p>
                  <p style="color:#456;font-family:arial,
                  sans-serif;font-size:14px;line-height:1.5;font-style:
                  italic; margin: 15px 0 0 0; padding: 0;">LOVE,<br>
                  Vimeo</p>
                  <table style="width: 100%; font: normal 11px
                  helvetica, sans-serif; cell-padding: 0;
                  cell-spacing: 0; margin: 30px 0 0 0;
                  padding: 25px 0 0 0; border-top: 1px
                  dotted #e1e2e3">
                  <tbody>
                    <tr>
                      <td style="width: 100%; padding: 0
                      10px 0 0;">
                      <p style="color: #9ab;">You are
                        receiving this email because you
                        registered at Vimeo (555 West 18th
                        Street. New York, NY 10011) and
                        agreed to receive email from us
                        regarding new features, events and
                        special offers about Vimeo
                        services. If you wish to be
                        unsubscribed from receiving these
                        emails, <a moz-do-not-send="true"
                        href="http://www.vimeo.com/opt_out" style="color: #28c; text-decoration:
                        none;">click here</a>.</p>
                      </td>
                      <td> <a moz-do-not-send="true"
                        href="http://vimeo.com"
                        style="color: #28c;
                        text-decoration: none;"><img
                        moz-do-not-send="true"
                        src="http://assets.vimeo.com/images/email/vimeo_logo_email.gif"
                        alt="Vimeo" style="border:
                        none;" border="0" height="21"
                        width="75"></a> </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <img moz-do-not-send="true"
  src="http://vimeo.com/email/track_pixel?p=d2VsY29tZXxjYjNkOTZjMjM0YzNhY2UzMjgxMGYyMTFmZDgzM2E3YzQ5MXwxMTcxMjY0OHwxMzM2OTkxMjYx"
  alt=""></td>
</tr>
</tbody>
</table>
</body>
</html
