<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta site-name="brookes_hubbub_net">
</head>
<body bgcolor="#FFFFFF" text="#000000">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <table style="margin: 0;padding: 0 0 30px 0;background-color:
  #F4F5F7;" cellpadding="10" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td style="color: #666; font: normal 11px helvetica,
            sans-serif; text-align: center; padding: 10px 0 20px
            0;">To ensure delivery, add <strong><a class="moz-txt-link-abbreviated" style="color: #29abe2;" href="mailto:brookes@hubbub.net">brookes@hubbub.net</a></strong>
            to your address book.</td>
          </tr>
            <tr>
              <td style="border-top:none;border-bottom:3px solid
              #D6D7D8">
              <table style="color:#456;background-color: #FFFFFF;" align="center" border="0" cellpadding="30" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td style="background-color: #FFFFFF;">
                    <p style="text-align:center;margin:5px 0
                    25px 0;padding:0"><a moz-do-not-send="true" href="https://brookes.hubbub.net/" style="color:#28c;text-decoration:none"
                    target="_blank"><img moz-do-not-send="true" alt="Brookes @ Hubbub" border="0" height="140" width="260"
                    src="https://s3-eu-west-1.amazonaws.com/scraftuk.served.assets/email/brookes_hubbub_net/logo.png">
                    </a></p>
                    <br />

                    <div style="color:#999;font-family:arial,
                    sans-serif;font-size:14px;line-height:1.5;margin:15px
                    0;padding:0">
                    {{ body }}
                    </div>

                  <table style="width: 100%; font: normal 11px
                  helvetica, sans-serif; cell-padding: 0;
                  cell-spacing: 0; margin: 30px 0 0 0;
                  padding: 25px 0 0 0; border-top: 1px
                  dotted #e1e2e3">
                  <tbody>
                    <tr>
                      <td style="width: 350px; padding: 0
                      10px 0 0;">
                      <p style="color: #999; line-height: 16px; ">
                        It's easy to adjust your notification settings in <a
                        href="https://brookes.hubbub.net/users/account/edit/profile/?tab=profile" style="color: #29abe2; text-decoration:
                        none;">your profile page</a>.</p>
                      </td>
                      <td style="width: 25px; padding: 0 5px 0 0;">
                        <a moz-do-not-send="true" href="https://twitter.com/oxford_brookes"><img moz-do-not-send="true" style="border:
                          none;" border="0" width="40"height="40" src="https://s3-eu-west-1.amazonaws.com/scraftuk.served.assets/email/brookes_hubbub_net/tw.png" alt="twitter"></a>
                      </td>
                      <td style="width: 25px; padding: 0 5px 0 0;">
                        <a moz-do-not-send="true" href="https://facebook.com/oxfordbrookes"><img moz-do-not-send="true" style="border:
                          none;" border="0" width="40"height="40" src="https://s3-eu-west-1.amazonaws.com/scraftuk.served.assets/email/brookes_hubbub_net/fb.png" alt="facebook"></a>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
</tbody>
</table>
</body>
</html>
