<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>
  #top {border: 1px solid #DDDDDD; width: 100%;}
  #subjline {padding: 5px; border: none; background-color: #EEEEEE; font-weight: bold;}
  #body {padding: 5px}
  </style>
</head>
<body>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <table id='top'>
    <tbody>
      <tr>
        <td>
          <div id='subjline'>{{ subject }}</div>
        </td>
      </tr>
      <tr>
        <td id='body'>
          {{ body }} 
        </td>  
      </tr>
    </tbody>
  </table>
</body>
</html